[submodule "common"]
	path = common
	url = sol:common
[submodule "qutebrowser"]
	path = qutebrowser
	url = sol:qutebrowser
[submodule "starship"]
	path = starship
	url = sol:starship
[submodule "dolphin-emu"]
	path = dolphin-emu
	url = sol:dolphin-emu
[submodule "webp-pixbuf-loader"]
	path = webp-pixbuf-loader
	url = sol:webp-pixbuf-loader
